<!-- Wrapper -->
<div class="container">
  <div class="section">
    <h2>Create Question</h2>
    <div id="questionContainer" contenteditable="true" (input)="updateQuestion()">
      this is a text for a question where we will represent inputs as blanks
    </div>
    <button class="action-button" (click)="insertBlank()">Insert Blank</button>
  </div>

  <!-- Rendered question for answer input -->
  <div class="section">
    <h2>Answer the Question</h2>
    <div id="renderedQuestion" class="rendered-question">
      <ng-container *ngFor="let part of questionParts; let i = index">
        <ng-container *ngIf="part.type === 'text'">{{ part.content }}</ng-container>
        <ng-container *ngIf="part.type === 'blank'">
          <input id="answer-{{part.index}}" type="text" placeholder="Your answer"
            [class.correct]="inputStatus[part.index] === 'correct'"
            [class.incorrect]="inputStatus[part.index] === 'incorrect'">

        </ng-container>
      </ng-container>
    </div>
    <button class="action-button" (click)="checkAnswers()">Check Answers</button>
  </div>




  <div class="section debug">
    <h2>Debug Information</h2>
    <pre [innerHTML]="data | json"></pre>
  </div>
</div>